.container {
    margin-top: 20px;
}

input[type=submit] {
    margin-left: 5px;
}

/*change the pagination to full width*/
.pagination {
    text-align: center;
    display: table;
    margin: 0 auto;
}